<h1>SignIn</h1>

<a ui-sref='home'>Home</a>
<a ui-sref='attendance'>Attendance</a>

<div class='row'>
    <div class='col-md-6'>
        <div ng-controller='StudentsCtrl'>
            <h4>Class Roster</h4>
            <ul>
                <li ng-repeat='item in students'>
                    <span class="glyphicon glyphicon-ok" ng-show='item.inClass'></span>
                    <span class="glyphicon glyphicon-remove" ng-show='!item.inClass'></span>
                    {{ item.name }}
                    <button class='btn btn-info btn-xs' ng-click="changeAttendance(item)">
                        <span ng-show='!item.inClass'>Sign In</span>
                        <span ng-show='item.inClass'>Sign Out<span>
                    </button>
                </li>
            </ul>
        </div>

    </div>

</div>
